body{
    background-color: #f4f6f9;
}

.container-box{
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 8px rgba(0,0,0,0.1);
}

.page-title{
    text-align: center;
    margin-bottom: 20px;
}

.table{
    background: white;
}

.btn{
    margin-right: 5px;
}

.card{
    border: none;
    border-radius: 15px;
}

.card:hover{
    transform: translateY(-5px);
    transition: 0.3s;
}
.navbar-brand{
    font-weight: bold;
    font-size: 1.3rem;
}

.nav-link{
    font-weight: 500;
}

.nav-link:hover{
    transform: translateY(-2px);
    transition: 0.2s;
}

.nav-link{
    position: relative;
    font-weight: 500;
}

.nav-link::after{
    content: '';
    position: absolute;
    left: 50%;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: white;
    transition: all 0.3s ease;
    transform: translateX(-50%);
}

.nav-link:hover::after{
    width: 100%;
}